// SPDX-License-Identifier: GPL-2.0+
/*
 *  Copyright (C) 2011 - 2015 Xilinx
 *  Copyright (C) 2012 National Instruments Corp.
 */
/dts-v1/;
#include "zynq-7000.dtsi"
#include "zynq-MYC-7z010_020-video.dtsi"
// #include "zynq-MYC-7z015-video.dtsi"
// #include "zynq-MYC-7z015-pcie.dtsi"

/ {
	chosen {
		bootargs = "console=ttyPS0,115200 earlyprintk root=/dev/mmcblk0p2 rw rootwait clk_ignore_unused cma=128M";
		stdout-path = "serial0:115200n8";
	};
	
    aliases {
		ethernet0 = &gem0;
		i2c0 = &i2c0;
		serial0 = &uart1;
		spi0 = &qspi;
		mmc0 = &sdhci0;
		usb0 = &usb0;
	};

    cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			compatible = "arm,cortex-a9";
			device_type = "cpu";
			reg = <0>;
			clocks = <&clkc 4>;
			clock-latency = <1000>;
			cpu0-supply = <&regulator_vccpint>;
			operating-points = <
				/* kHz    uV */
                766666  1000000
				666667  1000000
				333334  1000000
			>;
		};

		cpu1: cpu@1 {
			compatible = "arm,cortex-a9";
			device_type = "cpu";
			reg = <1>;
			clocks = <&clkc 3>;
		};
	};

    memory@0 {
		device_type = "memory";
		reg = <0x0 0x40000000>;
	};

    gpio-leds {
		compatible = "gpio-leds";

		d2 {
			label = "sys_led";
			gpios = <&gpio0 113 0x1>;
			default-state = "on";
			linux,default-trigger = "heartbeat";
		};
	};

	gpio-keys {
		compatible = "gpio-keys";
		#address-cells = <0x1>;
		#size-cells = <0x0>;
		autorepeat;

		K1 {
			label = "K1";
			gpios = <&gpio0 47 0x0>;
			linux,code = <0x66>;
			gpio-key,wakeup;
			autorepeat;
		};
	};

	usb_phy0: phy0@e0002000 {
		compatible = "ulpi-phy";
		#phy-cells = <0>;
		reg = <0xe0002000 0x1000>;
		view-port = <0x0170>;
		drv-vbus;
	};

    watchdog: watchdog {
		compatible = "linux,wdt-gpio";
		gpios = <&gpio0 0 0x0>;
		hw_algo = "toggle";
		hw_margin_ms = <1600>;
	};
};

&sdhci0 {
	status = "okay";
    xlnx,has-cd = <0x1>;
	xlnx,has-power = <0x0>;
	xlnx,has-wp = <0x1>;
    u-boot,dm-pre-reloc;
	broken-mmc-highspeed;
	no-1-8-v;
};

&sdhci1 {
    status = "okay";
    u-boot,dm-pre-reloc;
	no-1-8-v;
    xlnx,has-cd = <0x1>;
	xlnx,has-power = <0x0>;
    xlnx,has-wp = <0x1>;
    broken-cd;
    wp-inverted;
};

&gem0 {
	local-mac-address = [00 0a 35 00 00 00];
	phy-mode = "rgmii-id";
	status = "okay";
	xlnx,ptp-enet-clock = <0x69f6bcb>;
	phy-handle = <&phy3>;

	phy3: phy@3 {
		reg = <0x3>;
	};
};

&gem1 {
	status = "disable";
	phy-mode = "rgmii-id";
	phy-handle = <&phy6>;

	phy6: phy@6 {
		// compatible = "ethernet-phy-id0022.1620"; //use Micrel phy driver
		compatible = "ethernet-phy-id0174.0c00"; //use Xilinx phy driver
		phy-reset-gpio = <&gpio0 0x6f 1>;
		xlnx,phy-type = <0x5>;
		reg = <0x6>;
	};
};

&can1 {
	status = "okay";
};

&gpio0 {
	compatible = "xlnx,zynq-gpio-1.0";
	#gpio-cells = <0x2>;
	clocks = <0x1 0x2a>;
	gpio-controller;
	interrupt-parent = <0x3>;
	interrupts = <0x0 0x14 0x4>;
	reg = <0xe000a000 0x1000>;
	emio-gpio-width = <0x40>;
	gpio-mask-high = <0x0>;
	gpio-mask-low = <0x5600>;
	xlnx,emio-gpio-width = <0x40>;
	xlnx,mio-gpio-mask = <0x5600>;
};

&i2c0 {
	compatible = "cdns,i2c-r1p10";
	status = "okay";
	clocks = <0x1 0x26>;
	interrupt-parent = <0x3>;
	interrupts = <0x0 0x19 0x4>;
	reg = <0xe0004000 0x1000>;
	#address-cells = <0x1>;
	#size-cells = <0x0>;
	clock-frequency = <0x61a80>;
	xlnx,has-interrupt = <0x1>;

	ds3231: ds3231@68 {
		compatible = "maxim,ds3231";
		reg = <0x68>;
		#clock-cells = <1>;
	};
};

&i2c1 {
	compatible = "cdns,i2c-r1p10";
	status = "disable";
	clocks = <0x1 0x27>;
	interrupt-parent = <0x3>;
	interrupts = <0x0 0x30 0x4>;
	reg = <0xe0005000 0x1000>;
	#address-cells = <0x1>;
	#size-cells = <0x0>;
	clock-frequency = <0x61a80>;
	xlnx,has-interrupt = <0x1>;
};

&uart1 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&usb0 {
	status = "okay";
	dr_mode = "host";
	usb-phy = <&usb_phy0>;
};

&qspi {
    status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	flash0: flash@0 {
		compatible = "n25q512a","micron,m25p80", "n25q256a11";
		reg = <0x0>;
		#address-cells = <1>;
		#size-cells = <1>;
		spi-max-frequency = <50000000>;
        partition@qspi-boot {
            label = "qspi-boot";
            reg = <0x0 0x500000>;
        };
        partition@qspi-env {
            label = "qspi-env";
            reg = <0x500000 0x020000>;
        };
        partition@qspi-kernel {
            label = "qspi-kernel";
            reg = <0x520000 0x460000>;
        };
        partition@qspi-devicetree {
            label = "qspi-devicetree";
            reg = <0x980000 0x20000>;
        };
        partition@qspi-rootfs {
            label = "data";
            reg = <0x9a0000 0x600000>;
        };
	};
};
